
.formulario{
    border-radius: 10px;
    padding-left: 20px;
}

.input{
    width: 50%;
    margin: 10px;
    margin-bottom: 0;
    height: 30px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}

.botao{
    width: 75px;
    height: 30px;
    border-radius: 10px;
    background-color: blue;
    color: aliceblue;
    font-weight: 700;
    border: none;
}

.botao:hover{
    background-color: rgb(165, 165, 243);
    color:blue;
    cursor: pointer;
}